/* global-styles.css */
body {
    margin: 0px 3px;
    padding: 0px 6px;
}

/* for making autofill color effective */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}